* {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h3 {
  color: #b92b27;
}
#login {
  background-color: white;
}
#signup {
  background-color: #b92b27;
  color: white;
}
.upvote {
  background-color: green;
  color: aliceblue;
}
.post a {
  color: purple;
  background-color: yellow;
}

nav ul li a {
  color: brown;
}

p + h3 {
  text-decoration: underline;
}
.upvote + button {
  color: azure;
  background-color: chocolate;
}

div > input {
  color: rgb(38, 12, 185);
  background-color: rgb(167, 207, 207);
}
input[type="text"] {
  color: red;
}
input[type="password"] {
  color: green;
}
button:hover {
  background-color: black;
  color: whitesmoke;
}
h3:hover {
  text-decoration: none;
}
button:active {
  background-color: hotpink;
  color: black;
}
p:active {
  font-weight: bolder;
  color: green;
}
input[type="radio"]:checked + label {
    font-weight: bolder;
    color: red;
}
div:nth-of-type(2n){
  background-color: bisque;
}
p::first-line{

  color:rgb(7, 172, 147);
}
*::selection{
  color: limegreen;
}